
h1 { text-align: center}

h1 { font-family: "Times New Roman", Times, serif;
	font-size: 65px;
}

mark {
    background-color: black;
    color: white;

#slideshow {
   display: block;
   margin: 0 auto;
}


