<link rel="stylesheet" href="/static/css/project-draft.css">
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src = '/static/js/main.js'></script>

<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<i class="em em-some-emoji"></i>

<!DOCTYPE html>
<html>
<title>Disney Quiz</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<ul class="w3-navbar w3-red w3-card-2 w3-top w3-left-align w3-large">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    <a class="w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
  </li>
  <li id = "home"><a href="#" class="w3-padding-large w3-white">Home</a></li>

  <li id = "songm" class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white"><i class="em em-musical_note"></i>Song Matcher</a></li>
  <li id = "disney" class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white"><i class="em em-european_castle"></i>Who is your Disney Character?</a></li>
  <li id = "food" class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white"> <i class="em em-fries"></i>What food defines you?</a></li>



  <!-- <li class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white">Link 4</a></li> -->
</ul>
<br>
<br>
<br>
<br>


<iframe src="https://media.giphy.com/media/L0xm7gqy5vmgM/giphy.gif" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<h2 style="color:red;""> <strong>Which Disney Character Matches YOUR Personality?</strong> </h2>

<body class = "positioning_text">

<!--Question 1 -->
<form action="/matching_disney" method="get">
<h3> 1. What is your name? </h3>
  <input type="text" name="fandlname"><br>
 
<br>
<!--Question 2 -->
 <h3> 2. Where would you live?  <br> </h3>

  <input type="radio" name="place" value="Sea"> <p id= "text"> Sea</p>
	
	 <img class = "img-circle"  type="image" src="/static/Pictures/sea-4.jpg" alt="sea" height="70" width="140"> <br>

  <input type="radio" name="place" value="Ice Castle"> Ice Castle<br>

    <img class = "img-circle" type="image" src="https://s-media-cache-ak0.pinimg.com/736x/4a/af/04/4aaf04aab9a5b3244cf83040d0e8628e.jpg" alt="icecastle" height="70" width="140"> <br>

  <input type="radio" name="place" value="Library" > Library<br>

    <img class = "img-circle" type="image" src="https://upload.wikimedia.org/wikipedia/commons/2/2b/Melk_-_Abbey_-_Library.jpg" alt="olympia" height="70" width="140"> <br>

  <input type="radio" name="place" value="A Hidden Tower"> A Hidden Tower<br>

    <img class = "img-circle" type="image" src="https://c2.staticflickr.com/6/5130/5341678913_4db30697ce.jpg" alt="towerpic" height="70" width="140"> <br>

 
  


<!-- Question 3 -->

<h3> 3. Which color would you wear to the  <i> ball </i>? <br> </h3>

<input type="radio" name="color" value="Pink" > Pink<br>

	<img class = "img-circle" type="image" src="https://s.graphiq.com/sites/default/files/2307/media/images/Hot_Pink_430052_i0.png" alt="pinkpic" height="140" width="190"> <br>

<input type="radio" name="color" value="Blue" > Blue<br>

  <img class = "img-circle" type="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Solid_blue.svg/2000px-Solid_blue.svg.png" alt="bluepic" height="160" width="190"> <br>

<input type="radio" name="color" value="green" > Green<br>

  <img class = "img-circle" type="image" src="http://i.imgur.com/eucAMTA.jpg" alt="greenpic" height="120" width="170"> <br>

<input type="radio" name="color" value="red" > Red<br>


  <img class = "img-circle" type="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Red_flag.svg/2000px-Red_flag.svg.png" alt="redpic" height="170" width="190"> <br>





<!-- Question 4 -->

<h3> 4. Pick a number: <br> </h3>

<input type="radio" name="picknum" value="4" > 4<br>
<input type="radio" name="picknum" value="8" > 8<br>
<input type="radio" name="picknum" value="11" > 11<br>
<input type="radio" name="picknum" value="7" > 7<br>
<input type="radio" name="picknum" value="6" > 6<br>
<input type="radio" name="picknum" value="1" > 1<br>

<!--Question 5 -->
<h3>5. What would you eat at Disney World? <br> </h3>

<input type="radio" name="food" value="pizza" > Pizza<br>

	<img class = "img-circle" type="image" src="https://media2.popsugar-assets.com/files/2016/02/08/898/n/1922398/4c2124bfd07afeca_heart-shaped-pizza-2016.xxxlarge_2x.jpg" alt="pizzapic" height="140" width="190"> <br>

<input type="radio" name="food" value="salad" > Salad<br>

  <img class = "img-circle" type="image" src="http://www.saladbarmn.com/assets/img/slider/2.jpg" alt="saladpic" height="160" width="190"> <br>

<input type="radio" name="food" value="macaroon" > Macaroon<br>

  <img class = "img-circle" type="image" src="https://farm9.staticflickr.com/8707/17021568615_da45e540a9_c.jpg" alt="macaroonpic" height="120" width="170"> <br>

<input type="radio" name="food" value="waffles" > Mickey Mouse Waffles <br>


  <img class = "img-circle" type="image" src="https://farm9.staticflickr.com/8687/16833769468_5865c7352d_c.jpg" alt="wafflespic" height="170" width="190"> <br>



<!--Question 6 -->
<h3> 6. Who would you take to prom? <br> </h3>

<input type="radio" name="access" value="Ariel" >Ariel<br>
<img class = "img-circle" type="image" src="http://emea.lum.dolimg.com/v1/images/image_2fbd28db.jpeg?region=0,0,300,300" alt="arielpic" height="150" width="170"> <br>

<input type="radio" name="access" value="Beast" >Beast<br>
<img class = "img-circle" type="image" src="http://images-cdn.moviepilot.com/image/upload/c_fill,h_250,w_450/t_mp_quality_gif/tumblr_n26l9gyzka1trmkp7o1_500-what-the-beast-s-real-name-is-not-prince-adam-11-facts-about-beauty-the-beast-you-probably-didn-t-know-gif-228915.jpg" alt="beastpic" height="150" width="170"> <br>

<input type="radio" name="access" value="BayMax" >BayMax<br>
<img class = "img-circle" type="image" src="http://disneydigitalstudio.com/wp-content/uploads/2014/11/Baymax-Poster-e1416440487417.jpg" alt="baymaxpic" height="150" width="170"> <br>

<input type="radio" name="access" value="Aladdin" >Aladdin<br>
<img class = "img-circle" type="image" src="http://vignette4.wikia.nocookie.net/aladdin/images/c/c3/Aladdin.png/revision/latest?cb=20120320185508" alt="aladdinpic" height="150" width="170"> <br>

<input type="radio" name="access" value="Rapunzel" >Rapunzel<br>
<img class = "img-circle" type="image" src="http://img.lum.dolimg.com/v1/images/5c239685ecbea2c12fcb8ee661a04d0a9098e141.jpeg" alt="rapunzelpic" height="150" width="170"> <br>


<!--Question 7 -->

<h3> 7. Pick a Superpower: <br> </h3>

<input type="radio" name="superpower" value="flying" >Flying<br>

<input type="radio" name="superpower" value="Teleportation" > Teleport<br>

<input type="radio" name="superpower" value="Invisible" > Invisibility<br>

<input type="radio" name="superpower" value="SuperhumanSpeed" >Superhuman Speed<br>

<input type="radio" name="superpower" value="strength"  >Super Strength<br>

<!--Question 8 -->
<h3> 8. Which item would you take into battle? <br></h3>

<input type="radio" name="access" value="sword" >Sword<br>
<img class = "img-circle" type="image" src="http://cdn1.thr.com/sites/default/files/imagecache/scale_crop_768_433/2015/07/sword_in_the_stone_still.jpg" alt="spic" height="150" width="170"> <br>

<input type="radio" name="access" value="Rose" >Rose<br>
<img class = "img-circle" type="image" src="http://data.whicdn.com/images/17300188/original.jpg" alt="rpic" height="150" width="170"> <br>

<input type="radio" name="access" value="Book" >Books<br>
<img class = "img-circle" type="image" src="http://lovelace-media.imgix.net/uploads/6/0c6f1860-fda1-0132-4523-0a2ca390b447.jpg?" alt="" height="150" width="170"> <br>

<input type="radio" name="access" value="Robots" >Robots<br>
<img class = "img-circle" type="image" src="http://vignette2.wikia.nocookie.net/disney/images/4/49/Baymax_Armor_Wings_Render.png/revision/latest?cb=20141010004359" alt="ropic" height="150" width="170"> <br>

<input type="radio" name="access" value="Magic" >Magic<br>
<img class = "img-circle" type="image" src="http://kingofwallpapers.com/magic/magic-002.jpg" alt="mpic" height="150" width="170"> <br>

<!--Question 9-->
<h3> 9. Which climate do you prefer? <br></h3>

<input type="radio" name="climate" value="Storm" >Storm<br>
<img class = "img-circle" type="image" src="http://www.fico.com/en/blogs/wp-content/uploads/2015/09/Lightning-Storm.jpg" alt="storm" height="150" width="170"> <br>

<input type="radio" name="climate" value="Sunny" >Sunny<br>
<img class = "img-circle" type="image" src="http://www.mrwallpaper.com/wallpapers/sunny-coast-sea.jpg" alt="sunny" height="150" width="170"> <br>

<input type="radio" name="climate" value="Cloudy" >Cloudy<br>
<img class = "img-circle" type="image" src="http://cdn01.pelfusion.com/wp-content/uploads/2009/07/cloudy.jpg" alt="cloud" height="150" width="170"> <br>

<input type="radio" name="climate" value="Snow" >Snow<br>
<img class = "img-circle" type="image" src="http://science-all.com/images/wallpapers/snow/snow-11.jpg" alt="snow" height="150" width="170"> <br>

<input type="radio" name="climate" value="Windy" >Windy<br>
<img class = "img-circle" type="image" src="https://icons.wxug.com/data/wximagenew/b/boyntonbeachboy/853.jpg" alt="windy" height="150" width="170"> <br>

<!--Question 10-->

<h3> 10. What is your accessory of choice? <br></h3>

<input type="radio" name="access" value="Tiara" >Tiara<br>
<img class = "img-circle" type="image" src="https://www.dancecheer.net/spiritmall/images/D/PrincessHeartTiara.jpg" alt="tpic" height="150" width="170"> <br>

<input type="radio" name="access" value="Hat" >Hat<br>
<img class = "img-circle" type="image" src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=68606125" alt="hpic" height="150" width="170"> <br>

<input type="radio" name="access" value="slipper" >Glass Slipper<br>
<img class = "img-circle" type="image" src="http://images.huffingtonpost.com/2015-06-30-1435692887-3548802-2cinderellaglassslipperdisneyweddingphotophotographer.jpg" alt="gpic" height="150" width="170"> <br>

<input type="radio" name="access" value="helmet" >Helmet<br>
<img class = "img-circle" type="image" src="https://www.cosplayhouse.com/images/product/D/Big-Hero-6-Hiro-Hamada-Cosplay-Helmet-Version-01011.jpg" alt="hpic" height="150" width="170"> <br>









<br>
<br>
<br>
<br>
<br>



  <input id = "submit_disney" class = "submit-button" type="submit" value="Submit">

  </input>
  </body>

</form>

