<link rel="stylesheet" href="/static/css/project-draft.css">
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src = '/static/js/main.js'></script>

<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<i class="em em-some-emoji"></i>
<!DOCTYPE html>

<html>
<title> Food Quiz </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<ul class="w3-navbar w3-red w3-card-2 w3-top w3-left-align w3-large">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    <a class="w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
  </li>
  <li id = "home"><a href="#" class="w3-padding-large w3-white">Home</a></li>
  <li id = "songm" class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white"><i class="em em-musical_note"></i>Song Matcher</a></li>
  <li id = "disney" class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white"><i class="em em-european_castle"></i>Who is your Disney Character?</a></li>
  <li id = "food" class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white"> <i class="em em-fries"></i>What food defines you?</a></li>
  </ul>

<br>
<br>
<br>
<br>





<iframe class = "positioning_text" src="https://media.giphy.com/media/l0O9yqyFbuxZoBifu/giphy.gif" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<h2 style="color:#74FF33;""> <i class="em em-spaghetti"></i> <strong  >What food defines you?</strong> <i class="em em-sushi"></i> </h2>

<body class = "positioning_text">

<form action="/matching_food" method="get">

<label>

<h3> 

<h3> 1. What is your name? </h3>
<input type= "text" name="letter" ><br>
<!-- Question 2-->

<h3> 2. Pick your favorite pizza topping: <i class="em em-pizza"></i> <br> </h3>

 <input type="radio" name="pizzatop" value="sausage" >  Sausage &nbsp;
 <input type="radio" name="pizzatop" value="pepperoni">  Pepperoni &nbsp;
 <input type="radio" name="pizzatop" value="mushroom" >  Mushroom &nbsp;
 <input type="radio" name="pizzatop" value="olives">  Olives &nbsp;
 <input type="radio" name="pizzatop" value="chicken" >  Chicken <i class="em em-chicken"></i></p><br>

<!--Question 3 -->

<h3> 3. Speaking of chicken... </h3>

<input type="radio" name="chxtype" value="chxtenders" > Chicken Tenders
<img class = "img-circle" type="image" src="http://ballantynevillage.com/resources/flyers/927535dfe5442244994d35a92688a882.png" alt="chxpic1" height="70" width="140"> 

<input type="radio" name="chxtype" value="chxnugs"> Chicken Nuggets
<img class = "img-circle" type="image" src="http://r3.foodlogistics.com/files/base/FL/image/2015/06/16x9/640x360/chicken_nuggets.5592b08088bf7.jpg" alt="chxpic2" height="70" width="140">  <br>

<input type="radio" name="chxtype" value="friedchx"> Fried Chicken 

<img class = "img-circle" type="image" src="http://www.seriouseats.com/images/20120112-popeyes-refried-chicken-6.jpg" alt="chxpic2" height="70" width="140"> 
<input type="radio" name="chxtype"> Rotisserie Chicken 
<img class = "img-circle" type="image" src="http://shanghai.talkmagazines.cn/sites/talkmagazines.cn/files/imagecache/col1_full/RoastedChicken_Standalone.jpg" alt="chxpic2" height="70" width="140"> 
<br>
<br>
<input type="radio" name="chxtype" value="nochx"> ew i h8 chicken!


 

<!-- Question 4 -->

<h3> 4. <i class="em em-leaves"></i>Name this herb:  <br> </h3>

   <img id = "image" class= "img-circle2" type="image" src= "/static/Pictures/herbpic.jpg" alt="herbpic" height="140" width="190"> <br>
   

<input type="radio" name="herbguess" value="cilantro" > Cilantro &nbsp;
<input type="radio" name="herbguess" value="dill"> Dill &nbsp;
<input type="radio" name="herbguess" value="basil"> Basil &nbsp;
<input type="radio" name="herbguess" value="sage" > Sage<br> 
<input type="radio" name="herbguess" value="mint"> Mint &nbsp;
<input type="radio" name="herbguess" value="thyme"> Thyme &nbsp; <br>
<input type="radio" name="herbguess" value=" > wait a minute...isn't that from a Christmas tree? <i class="em em-christmas_tree"></i><br>


<!--SONG COPY -->
<!-- Question 4 -->

<h3> 4. Would you rather...? </h3>

<input type="radio" name="ratherpick" > Drink everything out of a baby bottle for life <i class="em em-baby_bottle"></i> <br>

 <h3> OR </h3> <br>
<input type="radio" name="ratherpick" > share every meal with a monkey <i class="em em-monkey"></i><br>


<!--Question 5 -->
<h3>5. What fruit would you dress as for Halloween? <br> </h3>

<input type="radio" name="fruit" value="strawberry" > Strawberry 
<img class = "img-circle"  type="image" src="http://www.halloweenhero.com/image-files/strawberry-costume.jpg" alt="strawberrypic" height="250" width="190"> 

<input type="radio" name="fruit" value="grape" > Grape 
<img class = "img-circle"  type="image" src="http://www.blossomaccessorieswholesale.com/pictures/Blossom%20Accessories%20Costumes/grapes-green.jpg" alt="grapepic" height="250" width="190"> <br>

<input type="radio" name="fruit" value="blueberry" > Blueberry 
<img class = "img-circle"  type="image" src="https://ae01.alicdn.com/kf/HTB1UWrbIVXXXXbIXFXXq6xXFXXXH/blueberry-costume-blueberry-women-adult-fruit-costume-cartoon-costume-party-funny-clothing.jpg" alt="blueberrypic" height="250" width="190"> 

<input type="radio" name="fruit" value="orange" > Orange 
<img class = "img-circle"  type="image" src="http://thefindmax.com/wp-content/uploads/2015/08/child-annoying-orange-costume-400x526.jpg" alt="orangepic" height="250" width="190"> <br>

<input type="radio" name="fruit" value="banana" > Banana 
<img class = "img-circle"  type="image" src="http://www.officialfoodcostumes.com/~/media/products/oc/1a/kids-costumes/8889750-banana-kids-costume-1-000.ashx?w=215&h=215&bc=ffffff" alt="bananapic" height="250" width="190"> 

<input type="radio" name="fruit" value="watermelon" > Watermelon 
<img class = "img-circle"  type="image" src="http://blog.findcostume.com/wp-content/uploads/2012/02/yhst-17175227365559_2194_149180474.gif" alt="watermelonpic" height="250" width="190"> <br>

<!--Question 6 -->
<h3> 6. Feeling hungry yet? <br> </h3>

<img id = "image" class= "img" type="image" src= "http://66.media.tumblr.com/9f6fa1abba2216887a154582b088aa6a/tumblr_nklro5cumE1rvhqlvo1_500.gif" alt="herbpic" height="200" width="300"> <br>

<input type="radio" name="hungry" value="sad" > Yes <br>


<input type="radio" name="feeling" value="hungry" > No <br>

<input type="radio" name="feeling" value="crazy" > does not apply to me <br>



<!--Question 7 -->

<h3> 7. Your favorite place to grab a quick bite to eat? <br> </h3>

<input type="radio" name="place2eat" value="KFC" > <img class = "img-circle"  type="image" src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/KFC_logo.svg/1024px-KFC_logo.svg.png" height="250" width="190"> 

<input type="radio" name="place2eat" value="mcdonalds" > <img class = "img-circle"  type="image" src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f3/Whole_Foods_Market_logo.svg/1280px-Whole_Foods_Market_logo.svg.png" alt="wholefoods" height="250" width="190">

<input type="radio" name="place2eat" value="711" > <img class = "img-circle"  type="image" src="https://lh5.ggpht.com/ybomDVOGzBDt2gaYXglRxICoKih95zFz_oPvRJSvZCDe5gXeKbib9rtOdV8sBSpmA6o=w300" height="250" width="190">

<input type="radio" name="place2eat" value="chipotle" > <img class = "img-circle"  type="image" src="https://pbs.twimg.com/profile_images/616043541815386112/i7FxHNpE.jpg" height="250" width="190"> <br>

<input type="radio" name="place2eat" value="mcdonalds" > <img class = "img-circle"  type="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Mcdonalds-90s-logo.svg/2000px-Mcdonalds-90s-logo.svg.png" height="250" width="190">

<input type="radio" name="place2eat" value="pizzahut" > <img class = "img-circle"  type="image" src="http://discoversumterfl.com/www-2014-v2/wp-content/uploads/2013/10/PRN10-PIZZA-HUT-LOGO-1y-4-1-1-1High.jpg" height="250" width="190">

<input type="radio" name="place2eat" value="chicfila" > <img class = "img-circle"  type="image" src="http://inside.chick-fil-a.com/wp-content/uploads/2015/04/CFA-Cover-Options1.png" height="250" width="190"> <br>

<input type="radio" name="place2eat" value="dominos" > <img class = "img-circle"  type="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Dominos_pizza_logo.svg/2000px-Dominos_pizza_logo.svg.png" height="250" width="190">

<input type="radio" name="place2eat" value="tacobell" > <img class = "img-circle"  type="image" src="http://hackthemenu.com/wp-content/uploads/2013/08/taco-bell-logo.jpg" height="250" width="190"> <br>

<input type="radio" name="place2eat" value="pandaexpress" > <img class = "img-circle"  type="image" src="https://lh3.ggpht.com/o_9NahZqWnwDKnjKvGgkUnABsqKB5ACiqYGrcKUAd5YvF0yMkeL8vCnNFSpr1Es_UiCc=w300" height="250" width="190"> 

<br>

</form>
   <input id = "submit_food" class = "submit-button" type="submit" value="Submit">

  </input>
</label>
</form>
