<link rel="stylesheet" href="/static/css/project-draft.css">
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src = '/static/js/main.js'></script>

<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<i class="em em-some-emoji"></i>

<!DOCTYPE html>
<html>
<title>Home Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<ul class="w3-navbar w3-red w3-card-2 w3-top w3-left-align w3-large">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    <a class="w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
  </li>
  <li id = "home"><a href="#" class="w3-padding-large w3-white">Home</a></li>
  <li id = "songm" class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white"><i class="em em-musical_note"></i>Song Matcher</a></li>
  <li id = "disney" class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white"><i class="em em-european_castle"></i>Who is your Disney Character?</a></li>
  <li id = "food" class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white"> <i class="em em-fries"></i>What food defines you?</a></li>


  <!-- <li class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white">Link 4</a></li> -->
</ul>


<!-- Header -->
<div class="w3-container w3-red w3-center w3-padding-128">
  <h1 class = "w3-margin w3-jumbo"> QUIZ YO LIFE </h1>
  
<!--   <button class="w3-btn w3-padding-16 w3-large w3-margin-top">Get Started</button> -->
</div>
<br>
<!-- SLIDESHOW -->
<center>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
.mySlides {display:none;}
</style>
</center>
<body>
<!-- {# {% include 'song.html' %} #}  <!-- Stephen suggested this action in case we wanted to include the same template in different files -->

<head>



<div id="slideshow" style="max-width:500px">
  <img class="mySlides" src="/static/Pictures/ruready.png" style="width:140%">
  <img class="mySlides" src="/static/Pictures/quiztoday.png" style="width:137%">

</div>

<script>
var myIndex = 0;
carousel();


function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>

<!--END OF SLIDESHOW -->

<!-- Container -->
<center>
<h1> <i>Featured Fan of the Month: Emanuel aka "MC Manny" </i></h1> <br>

<img src="https://media.giphy.com/media/UW5nPwP4eWNVu/giphy.gif" alt="manny" style="width:40%"  >
</center>



<div class="w3-container w3-padding-64 w3-center">
<h2><strong>OUR TEAM </strong></h2>

<div class="w3-row"><br>
<div class="w3-quarter">
  <a href = "https://www.facebook.com/jennifer.nguyen.739326" ><img src="static/Pictures/jenpic.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity"> </a>
  <h3>Jennifer Nguyen</h3>
  </div>

<div class="w3-quarter">
  <a href = "https://www.facebook.com/amor.diaz.79?fref=ts" ><img src="/static/Pictures/amorpic.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity"></a>
  <h3>Amor Diaz</h3>
</div>
<div class="w3-quarter">
  <a href = "https://www.facebook.com/josuelinc" ><img src="/static/Pictures/jocpic.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity"></a>
  <h3>Jocelyn Collado</h3>
</div>

<div class="w3-quarter">
  <a href="https://www.google.com"><img src="/static/Pictures/googpic.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity"></a>
  <h3>Google</h3>
</div>
</div>



<!-- <div class="w3-quarter">
  <a href = "https://www.facebook.com/jennifer.nguyen.739326" ><img src="/static/Pictures/jenpic.png" alt="Boss" style="width:60%" class="w3-circle w3-hover-opacity">
  <h3>Jennifer Nguyen</h3>
</div> -->

<!-- <div class="w3-quarter">
  <a href = "https://www.facebook.com/amor.diaz.79?fref=ts" ><img src="/static/Pictures/amorpic.jpg" alt="Boss" style="width:60%" class="w3-circle w3-hover-opacity">
  <h3>Amor Diaz</h3>
</div> -->

<!-- <div class="w3-quarter">
 <a href = "https://www.facebook.com/josuelinc" ><img src="/static/Pictures/jocpic.png" alt="Boss" style="width:60%" class="w3-circle w3-hover-opacity">
 </a>
  <h3>Jocelyn Collado</h3>
</div> -->

<!-- <div class="w3-quarter">
  <a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwi-1djwv6POAhVKez4KHVRwAaAQPAgD"><img src="/static/Pictures/googpic.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity"></a>
  <h3>Google</h3>
</div> -->
</div>




<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>


<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
   <a href="#" class="w3-hover-text-indigo"><i class="fa fa-facebook-official"></i></a>
   <a href="#" class="w3-hover-text-red"><i class="fa fa-pinterest-p"></i></a>
   <a href="#" class="w3-hover-text-light-blue"><i class="fa fa-twitter"></i></a>
   <a href="#" class="w3-hover-text-grey"><i class="fa fa-flickr"></i></a>
   <a href="#" class="w3-hover-text-indigo"><i class="fa fa-linkedin"></i></a>
 </div>
</footer> 

<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=41.8781&amp;lon=87.6298&amp;name=Chicago&amp;color=red"> </iframe>

<br>
<br>
<br>
<br>

<center>
<iframe src="https://embed.spotify.com/?uri=spotify:user:12179118077:playlist:6fOjKfG2nFYeU8Pm60bzs3" width="1000" height="280" frameborder="0" allowtransparency="true"></iframe>
</center>
</body>
</html>