<link rel="stylesheet" href="/static/css/project-draft.css">
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src = '/static/js/main.js'></script>

<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

<i class="em em-some-emoji"></i>

<!DOCTYPE html>
<html>
<title>Your Matching Food Item</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<ul class="w3-navbar w3-red w3-card-2 w3-top w3-left-align w3-large">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    <a class="w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
  </li>
  <li id = "home"><a href="#" class="w3-padding-large w3-white">Home</a></li>

  <li id = "songm" class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white"><i class="em em-musical_note"></i>Song Matcher</a></li>
  <li id = "disney" class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white"><i class="em em-european_castle"></i>Who is your Disney Character?</a></li>
  <li id = "food" class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white"> <i class="em em-fries"></i>What food defines you?</a></li>



  <!-- <li class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white">Link 4</a></li> -->
</ul>